mixin main-nav(activeRoute)
  div(class="nav navbar-nav mr-auto")
    a(
      href="/"
      class="nav-link",
      class=`${activeRoute === "" && "active router-link-exact-active"}`
    ) Home
    a(
      href="/profile"
      class="nav-link",
      class=`${activeRoute === "profile" && "active router-link-exact-active"}`
    ) Profile
    a(
      href="/pricing"
      class="nav-link",
      class=`${activeRoute === "pricing" && "active router-link-exact-active"}`
    ) Pricing
